:root {
    --global-color-alpha-light: #4F95FF;
    --global-color-alpha: #3385FF;
    --global-color-alpha-dark: #2E77E6;
    --global-color-alpha-x-dark: #1B4186;
    --global-color-alpha-transparent: #3385ffbf;
    --global-color-alpha-x-transparent: #3385ff4d;
    --global-color-neutral-xxxx-light: #F5F6FA;
    --global-color-neutral-xxx-light: #E2E3E7;
    --global-color-neutral-xx-light: #caccd4;
    --global-color-neutral-x-light: #b5b6c0;
    --global-color-neutral-light: #a0a1ad;
    --global-color-neutral: #8b8c9a;
    --global-color-neutral-dark: #757787;
    --global-color-neutral-x-dark: #606274;
    --global-color-neutral-xx-dark: #4b4c60;
    --global-color-neutral-xxx-dark: #35374d;
    --global-color-neutral-xxxx-dark: #20223a;
    --global-color-error: #FF3333;
    --global-color-error-transparent: #FF3333bf;
    --global-color-error-x-transparent: #FF33334d;
    --global-page-color: var(--global-color-neutral-xxxx-dark);
    --global-page-backgroundColor: var(--global-color-neutral-xxxx-light);
    --global-selection-backgroundColor: var(--global-color-alpha);
    --global-borderRadius: 3px;
    --global-borderWidth: 1px;
    --global-transitionEasing-out: ease-out;
    --global-transitionEasing-out-cubic: cubic-bezier(0.22, 0.61, 0.36, 1);
    --global-transitionDuration-alpha: .1s;
    --global-transitionDuration-beta: .2s;
    --global-transitionDuration-gamma: .3s;
    --global-baseline: 8px;
    --global-whitespace: calc(var(--global-baseline) * 3);
    --global-whitespace-xs: calc(var(--global-baseline) * .5);
    --global-whitespace-sm: calc(var(--global-baseline) * 1);
    --global-whitespace-md: calc(var(--global-baseline) * 2);
    --global-whitespace-lg: calc(var(--global-baseline) * 4);
    --global-whitespace-xl: calc(var(--global-whitespace) * 2);
    --global-whitespace-xxl: calc(var(--global-whitespace) * 3);
    --global-label-color: var(--global-color-neutral-xx-dark);
    --global-placeholder-color: var(--global-color-neutral-x-light);
    --global-input-backgroundColor: White;
    --global-input-color: var(--global-color-neutral-xxxx-dark);
    --global-input-borderColor: var(--global-color-neutral-xxx-light);
    --global-input-hover-borderColor: var(--global-color-neutral-xx-light);
    --global-input-focus-borderColor: var(--global-color-alpha);
    --global-input-focus-boxShadowSpread: 0 0 0 3px;
    --global-input-focus-boxShadowColor: var(--global-color-alpha-x-transparent);
    --global-input-error-borderColor: var(--global-color-error);
    --global-input-error-boxShadowColor: var(--global-color-error-x-transparent);
}